{% extends "layout.html" %}

{% block title %}
    Data
{% endblock %}

{% block main %}
<h2 align="center">Key market Data</h2>
<table class="table table-striped">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Changes</th>
            </tr>
        </thead>
        <tbody>

            {% for i in range(0, len) %}
                <tr>
                    <td>{{title[i]}} </td>
                    <td>{{quotes[i]}} </td>
                    <td>{{movements[i]}} </td>
                </tr>

            {% endfor %}

            </tbody>

             </table>
        <p align="center">Source: Yahoo Finance</p>
{% endblock %}